﻿<style>
    /** {
        margin: 0;
        padding: 0;
    }

    body {
        font: 71%/1.5 Verdana, Sans-Serif;
        background: #eee;
    }*/

    #container {
        /*margin: 100px auto;*/
        width: 100%;
    }

    #write {
        margin: 0 0 5px;
        padding: 5px;
        width: 671px;
        height: 200px;
        font: 1em/1.5 Verdana, Sans-Serif;
        background: #fff;
        border: 1px solid #f9f9f9;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    #keyboard {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #keyboard li {
            float: left;
            margin: 0 5px 5px 0;
            width: 6%;
            height: 40px;
            line-height: 250%;
            text-align: center;
            background: #fff;
            border: 1px solid #f9f9f9;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            font-size: 19px;
        }

    .capslock, .tab, .left-shift {
        clear: left;
    }

    #keyboard .tab, #keyboard .delete {
        width: 70px;
    }

    #keyboard .capslock {
        width: 80px;
    }

    #keyboard .return {
        width: 77px;
    }

    #keyboard .left-shift {
        width: 95px;
    }

    #keyboard .right-shift {
        width: 109px;
    }

    .lastitem {
        margin-right: 0;
    }

    .uppercase {
        text-transform: uppercase;
    }

    #keyboard .space {
        clear: left;
        width: 681px;
    }

    .on {
        display: none;
    }

    #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
    }
</style>

<div class="modal-content cmodal">
    
    <div class="modal-body" style="font: 71%/1.5 Verdana, Sans-Serif; background: #eee;">
        <h3 class="margin-none margin-bottom-10" ng-bind-html="Title"></h3>
        <div class="row">
            <div class="col-md-12">
                <div id="container">
                    <textarea id="write" ng-model="Form.InputText" style="resize: none;width: 100%;font-size: 35px;height: 89px;"></textarea>
                    <ul id="keyboard" ng-show="Form.FullMode">
                        <li class="symbol"><span class="off">`</span><span class="on">~</span></li>
                        <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
                        <li class="symbol"><span class="off">2</span><span class="on">@</span></li>
                        <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
                        <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
                        <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
                        <li class="symbol"><span class="off">6</span><span class="on">^</span></li>
                        <li class="symbol"><span class="off">7</span><span class="on">&amp;</span></li>
                        <li class="symbol"><span class="off">8</span><span class="on">*</span></li>
                        <li class="symbol"><span class="off">9</span><span class="on">(</span></li>
                        <li class="symbol"><span class="off">0</span><span class="on">)</span></li>
                        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
                        <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
                        <li class="delete lastitem">delete</li>
                        <li class="tab">tab</li>
                        <li class="letter">q</li>
                        <li class="letter">w</li>
                        <li class="letter">e</li>
                        <li class="letter">r</li>
                        <li class="letter">t</li>
                        <li class="letter">y</li>
                        <li class="letter">u</li>
                        <li class="letter">i</li>
                        <li class="letter">o</li>
                        <li class="letter">p</li>
                        <li class="symbol"><span class="off">[</span><span class="on">{</span></li>
                        <li class="symbol"><span class="off">]</span><span class="on">}</span></li>
                        <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
                        <li class="capslock">caps</li>
                        <li class="letter">a</li>
                        <li class="letter">s</li>
                        <li class="letter">d</li>
                        <li class="letter">f</li>
                        <li class="letter">g</li>
                        <li class="letter">h</li>
                        <li class="letter">j</li>
                        <li class="letter">k</li>
                        <li class="letter">l</li>
                        <li class="symbol"><span class="off">;</span><span class="on">:</span></li>
                        <li class="symbol"><span class="off">'</span><span class="on">&quot;</span></li>
                        <li class="return lastitem">return</li>
                        <li class="left-shift">shift</li>
                        <li class="letter">z</li>
                        <li class="letter">x</li>
                        <li class="letter">c</li>
                        <li class="letter">v</li>
                        <li class="letter">b</li>
                        <li class="letter">n</li>
                        <li class="letter">m</li>
                        <li class="symbol"><span class="off">,</span><span class="on">&lt;</span></li>
                        <li class="symbol"><span class="off">.</span><span class="on">&gt;</span></li>
                        <li class="symbol"><span class="off">/</span><span class="on">?</span></li>
                        <li class="right-shift lastitem">shift</li>
                        <li class="space lastitem">&nbsp;</li><li style="width: 175px;" class="return lastitem">Xong</li>
                    </ul>
                    <div class="" id="calc-buttons" ng-show="!Form.FullMode">
                        <div class="row">
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(1)">1</button>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(2)">2</button>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(3)">3</button>
                            <button class="btn btn-slg btn-default col-xs-3" style="background-color: #888888;" ng-click="Calc.Go('remove');"><i class="fa fa-trash"></i></button>
                        </div>
                        <div class="row">
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(4)">4</button>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(5)">5</button>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(6);">6</button>
                            <button class="btn btn-slg btn-default col-xs-3" style="background-color: #888888;" ng-click="Calc.Go('00');">00</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(7);">7</button>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(8);">8</button>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(9);">9</button>
                            <button class="btn btn-slg btn-default col-xs-3" style="background-color: #888888;" ng-click="Calc.Go('000');">000</button>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <button class="btn btn-slg btn-default col-xs-3" ng-click="Calc.Go(0);">0</button>
                            <button class="btn btn-slg btn-default col-xs-6" ng-click="confirm()">Xong</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="confirm()" autofocus ng-if="ButtonConfirm != ''"><i class="fa fa-check"></i> {{ButtonConfirm}}</button>
        <button class="btn btn-sm btn-warning" ng-click="cancel()" ng-if="ButtonCancel != ''"><i class="fa fa-times"></i> {{ButtonCancel}}</button>
    </div>-->
</div>



