﻿<form name="roles_form" ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true">
                <i class="fa fa-close"></i>
            </a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="clearfix"></div><br>
            <div class="form-group">
                <label class="col-md-3 control-label">Tên nhóm
                    <span class="required">(*)</span>
                </label>
                <div class="col-md-9">
                    <input type="text" ng-focus="true" name="name" ng-model="Form.Item.name" required ng-maxlength="255"
                        placeholder="Nhập vào tên nhóm người dùng" class="form-control" />
                    <div ng-show="roles_form.name.$dirty ||roles_form.$submitted">
                        <small class="has-error" ng-show="roles_form.name.$error.required">
                            Bạn cần nhập tên nhóm người dùng
                        </small>
                        <small class="has-error" ng-show="roles_form.name.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã nhóm
                    <span class="required">(*)</span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="code" ng-model="Form.Item.code" pattern="[\x00-\x7F]*" required
                        ng-maxlength="255" placeholder="Nhập vào mã nhóm người dùng" class=" form-control" />
                    <div ng-show="roles_form.code.$dirty && roles_form.code.$invalid||roles_form.$submitted">
                        <small class="has-error" ng-show="roles_form.code.$error.required">
                            Bạn cần nhập mã nhóm người dùng
                        </small>
                        <small class="has-error" ng-show="roles_form.code.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                        <small class="has-error" ng-show="roles_form.code.$error.pattern">
                            Mã đơn vị/phòng ban phải nhập không dấu
                        </small>
                    </div>
                </div>
            </div> 
            <div class="clearfix"></div><br>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()">
                <i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>