﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="vi">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <!--<base href="/">-->
    <meta charset="utf-8" />
    <title ng-if="$state.current.data.pageTitle === ''"> Đang chuyển hướng</title>
    <title ng-if="$state.current.data.pageTitle !== ''" data-ng-bind="$state.current.data.pageTitle"></title>
    <!--<title>AngularJS 1.6.8 | Bootstrap 3.3.7 | Metronic 4.7.5</title>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../node_modules/angular-loading-bar/src/loading-bar.css" rel="stylesheet" type="text/css" />
    <!-- <link href="../assets/layouts/layout/css/fonts/fonts.OpenSans.css" rel="stylesheet" type="text/css" /> -->
    <link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/angular-toastr/dist/angular-toastr.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/jquery-ui-dist/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/ui-select/dist/select.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" rel="alternate" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../assets/apps/css/tree-view.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->

    <link href="../assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout/css/desktop.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout/css/mobile.css" rel="stylesheet" type="text/css" />


</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div id="headerDiv" style="display:none" class="page-header navbar navbar-fixed-top" data-ng-controller="HeaderController"
            data-ng-include="'/app-data/views/template/header/header.html'"></div>
        <!-- END HEADER -->
        <div class="clearfix"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container  susu">
            <!-- BEGIN SIDEBAR -->
            <div id="sidebarDiv" style="display:none" class="page-sidebar-wrapper" data-ng-controller="SidebarController"
                ng-include="'/app-data/views/template/sidebar/sidebar.html'"></div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" autoscroll="true">
                    <div ui-view class="fade-in-up" id="view"></div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN LOADING ng-spinner-bar -->
            <div id="loadingDiv" style="position: fixed;width: 100%;height: 100%;background: #fff;top: 0px;margin: 0px auto;text-align: center; z-index: 999999;">
                <div style="margin-top:20vh;">
                    <img src="assets/apps/img/logo.gif" />
                </div>
                <div class="page-spinner-bar" style="top:65% !important">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="bold font-15" style="top:90%;text-align:center;display: block">
                    © Loki with <i class="fa fa-heart font-red"></i>. Website : <a href="https://gitlab.com/nguyenhero"
                        target="_blank">https://gitlab.com/nguyenhero</a>
                </div>
            </div>
            <!-- END LOADING -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div id="footerDiv" style="display:none" data-ng-controller="FooterController" class="page-footer"
            data-ng-include="'/app-data/views/template/footer/footer.html'"></div>
        <!-- END FOOTER -->
    </div>
    <script data-main="../app-data/mandatory-js/main.js" src="../node_modules/requirejs/require.js"></script>
</body>
</body>

</html>