﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{Title}}</span>
        </span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span ng-bind-html="Message"></span>
            </div>
            <div class="col-md-12">
                <input type="{{Type}}" ng-model="Data" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="confirm()" autofocus ng-if="ButtonConfirm != ''">
            <i class="fa fa-check"></i> {{ButtonConfirm}}</button>
        <button class="btn btn-sm btn-warning" ng-click="cancel()" ng-if="ButtonCancel != ''">
            <i class="fa fa-times"></i> {{ButtonCancel}}</button>
    </div>
</div>